<h1>Listing agreements</h1>

<table>
  <tr>
    <th>Version</th>
    <th>Projectname</th>
    <th>Submission</th>
    <th>Nonowner</th>
    <th>Grant</th>
    <th>Option</th>
    <th>Outbound</th>
    <th>Media</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agreements.each do |agreement| %>
  <tr>
    <td><%= agreement.version %></td>
    <td><%= agreement.projectname %></td>
    <td><%= agreement.submission %></td>
    <td><%= agreement.nonowner %></td>
    <td><%= agreement.grant %></td>
    <td><%= agreement.option %></td>
    <td><%= agreement.outbound %></td>
    <td><%= agreement.media %></td>
    <td><%= link_to 'Show', agreement %></td>
    <td><%= link_to 'Edit', edit_agreement_path(agreement) %></td>
    <td><%= link_to 'Destroy', agreement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agreement', new_agreement_path %>
