<p id="notice"><%= notice %></p>

<%= render 'agreement' %>

<p>
  <b>Submission:</b>
  <%= @agreement.submission %>
</p>

<p>
  <b>Nonowner:</b>
  <%= @agreement.nonowner %>
</p>

<p>
  <b>Grant:</b>
  <%= @agreement.grant %>
</p>

<p>
  <b>Option:</b>
  <%= @agreement.option %>
</p>

<p>
  <b>Outbound:</b>
  <%= @agreement.outbound %>
</p>

<p>
  <b>Media:</b>
  <%= @agreement.media %>
</p>

<p>Version: <%= @agreement.version %></p>

