</p>
      <h1>Contributor Agreements for <%= @agreement.projectname %> (preview)</h1>

      <table width="600" border="0" class="table-list">
        <tr>
          <th>Document</th>
          <th width="50px" class="table-centered">Version</th>
          <th width="50px" class="table-centered">Formats</th>
          <th width="80px" class="table-right">Modified</th>
        </tr>
        <tr>
          <td><%= @agreement.projectname %>
              Individual Contributor
              <% if @agreement.grant == 'cla' %>
                  License
              <% else %>
                  Assignment
              <% end %>
              Agreement
          </td>
          <td class="table-centered">Harmony <%= @agreement.version %></td>
          <td class="table-centered">
            <%= form_for(@agreement, :url => { :controller => "selector", :action => "preview_formatted" }) do |f| %>
             <%= f.hidden_field :projectname, :value => @agreement.projectname %>
             <%= f.hidden_field :grant, :value => @agreement.grant %>
             <%= f.hidden_field :option, :value => @agreement.option %>
             <%= f.hidden_field :submission, :value => @agreement.submission %>
             <%= f.hidden_field :method, :value => @agreement.method %>
             <%= f.hidden_field :nonowner, :value => @agreement.nonowner %>
             <%= f.hidden_field :outbound, :value => @agreement.outbound %>
             <%= f.hidden_field :media, :value => @agreement.media %>
             <%= f.hidden_field :version, :value => @agreement.version %>
             <%= f.hidden_field :jurisdiction, :value => @agreement.jurisdiction %>
             <%= f.submit "HTML" %>
            <% end %>
            <div class="pdf"><a href="docs/ha-cla-i-beta.pdf">PDF</a></div>
          </td>
          <td class="table-right">2011-05-23</td>
        </tr>
        <tr class="odd">
          <td><%= @agreement.projectname %>
              Entity Contributor
              <% if @agreement.grant == 'cla' %>
                  License
              <% else %>
                  Assignment
              <% end %>
              Agreement
          </td>
          <td class="table-centered">Harmony <%= @agreement.version %></td>
          <td class="table-centered">
            <%= form_for(@agreement, :url => { :controller => "selector", :action => "preview_formatted" }) do |f| %>
             <%= f.hidden_field :projectname, :value => @agreement.projectname %>
             <%= f.hidden_field :grant, :value => @agreement.grant %>
             <%= f.hidden_field :option, :value => @agreement.option %>
             <%= f.hidden_field :submission, :value => @agreement.submission %>
             <%= f.hidden_field :method, :value => @agreement.method %>
             <%= f.hidden_field :nonowner, :value => @agreement.nonowner %>
             <%= f.hidden_field :outbound, :value => @agreement.outbound %>
             <%= f.hidden_field :media, :value => @agreement.media %>
             <%= f.hidden_field :version, :value => @agreement.version %>
             <%= f.hidden_field :jurisdiction, :value => @agreement.jurisdiction %>
             <%= hidden_field :entity, :value => 'true' %>
             <%= f.submit "HTML" %>
            <% end %>
            <div class="pdf"><a href="docs/ha-cla-e-beta.pdf">PDF</a></div>
          </td>
          <td class="table-right">2011-05-23</td>
        </tr>
      </table>
      &nbsp;
      </p>
